@use "@shared/ui/styles" as *;

.layoutContainer {
  @include flex-center();
  padding: 50px;
  background-color: $color-black;
  height: 100vh;

  .layoutChildrenContainer {
    border-radius: 44px;
    background-color: $color-background;
    width: 1200px;
    height: 100%;
  }
}